/*
 * Estilos de tu proyecto
 */
 header{
   position: fixed;
   z-index: 2;
   top: 0;
   width: 100%;
   background-color: #2C3E50;
   height: 100px;
   color: white;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition-timing-function: linear;
   transition: height 500ms;
 }
 nav.container{
   margin: 0 7% 0 8%;
   height: 100px;
   align-items: center;
   justify-content: space-between;
   transition: height 500ms;
 }
.menu li{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 3%;
  margin: 0 .5%;
}
.menu li a:hover{
  color: #18BC9C;
}
.change-header{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}
.change-nav{
  height: 70px;
}
.change-nav .col-1 a{
  font-size: 1.4em;
}
.change-background{
  background-color: #18BC9C;
}
.menu li.change-background a:hover{
  color: white;
}
.menu li a{
  color: white;
  font-weight: bolder;
  font-size: .9em;
  letter-spacing: 1px;
}
nav .col-1{
  width: 40%;
}
nav .col-1 a{
  font-size: 1.7em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: font-size 500ms;
}
nav .col-2{
  width: 40%;
}
nav .col-2 .menu{
  display: flex;
  justify-content: flex-end;
}
.portada{
  background-color: rgb(24, 188, 156);
  margin: 5% auto;
  width: 100%;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portada .col-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.portada .col-2 h1{
  font-size: 4.5em;
  color: white;
}

.portada hr.linea{
  border-top: 5px solid white;
}
.portada .star{
  color: white;
  font-size: 1.8em;
}
.portada .icon-star:before{
  display: inline-block;
  background-color: rgb(24, 188, 156);
  width: 15%;
  position: relative;
  top: -15px;
}
.portada-text{
  font-size: 1.5em;
  color: white;
  font-weight: 300;
}

.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 720px;
  padding: 0 7% 0 8%;
  margin-bottom: 3%;
}
.portfolio .col-1{
  padding: 2% 0;
}
.portfolio .col-1 h2{
  font-size: 2.8em;
  color: #333333;
}
.portfolio hr{
  margin: 8% 0;
  border-top: 5px solid rgb(44, 62, 80);
}
.portfolio .star{
  color: rgb(44, 62, 80);
  font-size: 1.8em;
}
.portfolio .icon-star:before{
  display: inline-block;
  background-color: white;
  width: 15%;
  position: relative;
  top: -15px;
}

.portfolio .col-2{
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.folio{
  display: inline-block;
  position: relative;
  width: 32%;
  height: 258px;
  overflow: hidden;
}
.portfolio img{
  width: 100%;
  height: 100%;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  background-color: rgba(40, 177, 151, 0.9);
  opacity: 0;
  transition: opacity 400ms linear;
}
.overlay:hover {
  opacity: .9;
}
.lupa{
  font-size: 4em;
  color: white;
}
.about{
  width: 100%;
  height: 540px;
  margin: 10% 0;
  background-color: #18BC9C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .col-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .col-1 h2{
  font-size: 2.8em;
  color: white;
}
.about hr{
  margin: 8% 0;
  border-top: 5px solid white;
}
.about .star{
  color: white;
  font-size: 1.8em;
}
.about .icon-star:before{
  display: inline-block;
  background-color: #18BC9C;
  width: 15%;
  position: relative;
  top: -15px;
}
.about .col-2{
  padding: 0 3%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.about .col-2 p{
  width: 47%;
  font-size: 17px;
  color: white;
  line-height: 30px;
}
.download{
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.btn-download{
  margin-top: 5%;
  padding: 1.5% 2%;
  width: 30%;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  transition: all 400ms linear;
}
.btn-download:hover{
  background-color: white;
}
.btn-download:hover .download{
  color: #18BC9C;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
.contact .col-1 h2{
  font-size: 2.8em;
  color: #333333;
}
.contact hr{
  margin: 8% 0;
  border-top: 5px solid rgb(44, 62, 80);
}
.contact .star{
  color: rgb(44, 62, 80);
  font-size: 1.8em;
}
.contact .icon-star:before{
  display: inline-block;
  background-color: white;
  width: 15%;
  position: relative;
  top: -15px;
}
.contact .col-2{
  width: 75%;
  padding: 0 10%;
}

.data{
  position: relative;
  border-top: 1px solid #eee;
}
.data label{
  font-size: 1.3em;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.5;
  background-color: transparent;
}
.data .message{
  top: 30px;
}
.data label.change-label{
  font-size: .8em;
  top: 5px;
  color: #18BC9C;
}
.data label.change-label.focus{
  color: black;
}
.data input{
  padding: 0 3%;
  color: #555;
  font-size: 1.5em;
  height: 65px;
  border: none;
}
.data input:focus,
.data textarea:focus{
  outline: none;
}
.data textarea{
  padding: 6% 4%;
  color: #555;
  font-size: 1.5em;
  resize: none;
  border: none;
  border-bottom: 1px solid #eee;
}
.btn-send{
  margin: 4% 5%;
  width: 10%;
  padding: 2% 1.5%;
  background-color: rgb(24, 188, 156);
  border-radius: 5px;
}
.send{
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
}
footer{
  background-color: #2C3E50;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;

}
footer h3{
  font-weight: 700;
  margin-bottom: 10%;
  font-size: 1.5em;
}
.footer-arriba{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.footer-arriba p{
  font-size: 18px;
  line-height: 1.5;
}
.address{
  text-align: center;
}
.footer-arriba a{
  color: white;
}

.footer-arriba .green{
  color: #18BC9C;
}
.footer-arriba .green:hover{
  text-decoration: underline;
}
.info{
  width: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enlaces{
  display: flex;
  width: 100%;

}
.enlaces li{
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: 2px solid white;
  border-radius: 100%;
  margin: 2%;
  flex: 1;
  font-size: 1.2em;
  padding: 3% 4% 2%;
}
.google{
  font-size: 1.5em;
}
.face{
  position: relative;
  left: 1%;
}
.footer-abajo{
  width: 100%;
  height: 70px;
  background-color: #233140;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-abajo p{
  font-size: .85em;
  margin: 0;
}
